.body {
    display: flex;
    flex-direction: row;
    height: 30em;
    justify-content: space-around;
    text-align: right;
    gap: 2cm;
}

.welcome {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    align-items: flex-end;
}

.myImage {
    padding-right: 8rem;
}

p.first-line,
p.second-line {
    font-family :'Courier New', Courier, monospace;
}

.first-line{
    font-size: 45px;
    max-width: 400px;
}

.second-line{
    font-size: 18px;
    max-width: 400px;
}

