.navbar {
    grid-column: 2;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

