.footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: flex-end;
    height: 10em;
    margin-left: 5em;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-family :'Courier New', Courier, monospace;
}

.contact {
    margin: 3px;
}

.email {
    margin: 3px;
    color: inherit;
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 5px; 
    justify-content: flex-start;
    padding-bottom: 2rem;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px; 
    height: 24px; 
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s; 
}

.social-link:hover {
    color: #0077b5; 
}

.social-link:nth-child(2):hover {
    color: #333; 
}