.footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: flex-end;
    height: 10em;
    padding-left: 10em;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family :'Courier New', Courier, monospace;
}

.contact {
    margin: 2px;
}
