.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 10em;
    padding-left: 13rem;
    padding-bottom: 3rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.contact {
    margin: 2px;
}